asgiref==3.10.0
black==24.10.0
cfgv==3.4.0
click==8.3.0
colorama==0.4.6
cssbeautifier==1.15.4
debugpy==1.8.17
diff-match-patch==20241021
distlib==0.4.0
Django==5.2.7
django-import-export==4.3.10
django-tinymce==4.1.0
djangorestframework==3.16.1
djlint==1.36.4
drf-yasg==1.21.11
EditorConfig==0.17.1
factory_boy==3.3.3
Faker==37.11.0
filelock==3.20.0
identify==2.6.15
inflection==0.5.1
iniconfig==2.3.0
jmespath==1.0.1
jsbeautifier==1.15.4
json5==0.12.1
markdown-it-py==4.0.0
mdurl==0.1.2
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
pillow==12.0.0
platformdirs==4.5.0
pluggy==1.6.0
pre_commit==4.3.0
Pygments==2.19.2
pytest==8.4.2
pytest-django==4.11.1
pytz==2025.2
PyYAML==6.0.3
regex==2025.9.18
rich==14.2.0
ruff==0.14.1
shellingham==1.5.4
six==1.17.0
sqlparse==0.5.3
tablib==3.9.0
toml-cli==0.8.2
tomlkit==0.13.3
tqdm==4.67.1
typer==0.19.2
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
virtualenv==20.35.3
gunicorn==23.0.0
dj-database-url==2.3.0
whitenoise==6.9.0
psycopg2-binary==2.9.10
graphene-django
